<%- include('../partials/header') %>

<h2>Add New Ticket</h2>

<form id="new-ticket" action="/flights/<%= flight_id %>/tickets" method="POST">  
  <label>Seat: 
    <input name="seat" required pattern="[A-F][1-9]\d?">
  </label><br>  
  <label>Price:
    <input type="number" name="price" min="0">
  </label><br>  
  <button type="submit">Add Ticket</button>
</form>
<%- include('../partials/footer') %>
